@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.custom-login-btn {
    background-color: #EC6F1B;  /* Ganti dengan warna kustom */
    color: white;   
}